HELP.md
.gradle
build/
gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### node ###
!**/node_modules/
!**/test/data/

!**/nohup.out
!**/*.log

test-automation-jmeter-plugin/data/target.txt
test-automation-jmeter-plugin/data/source.txt

apache-jmeter-5.4.1/bin/test/data/
apache-jmeter-5.4.1/bin/test/kais-data